server:
  port: 10000


spring:
  cloud:
    nacos:
      discovery:
        server-addr: http://192.168.56.1:8848
  # 数据源
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    #MySQL配置
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://39.106.68.63:3306/gulimall_pms?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: zhyf123456++
  #服务名
  application:
    name: gulimall-product
  #json转换格式
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
  #thymeleaf
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    encoding: UTF-8
    mode: HTML5
    servlet:
      content-type: text/html
  #redis
  redis:
    host: 192.168.56.10
    port: 6379

#mybatis-plus
mybatis-plus:
  mapperLocations: classpath:mapper/**/*.xml
  global-config:
    db-config:
      id-type: auto
  #日志
logging:
  level:
    com.zhyf: debug
