#server:
#  port: 7000
#
## mysql
#spring:
#  datasource:
#    type: com.alibaba.druid.pool.DruidDataSource
#    #MySQL配置
#    driverClassName: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://39.106.68.63:3306/gulimall_sms?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=Asia/Shanghai
#    username: root
#    password: zhyf123456++
##    cloud alibaba
#  cloud:
#    nacos:
#      discovery:
#        server-addr: http://192.168.56.1:8848
#  application:
#    name: gulimall-coupon-service
#
##mongodb:
##  host: localhost
##  port: 27017
##  auth: false #是否使用密码验证
##  username: tincery
##  password: renren
##  source: 123456
##  database: test
#
#mybatis-plus:
#  mapperLocations: classpath:mapper/**/*.xml
#  global-config:
#    db-config:
#      id-type: auto
#
#
#
#
##指定数据库，可选值有【mysql、oracle、sqlserver、postgresql、mongodb】
#

